<html>
    <head>
        <title>Snapcat</title>

        <link rel="stylesheet" 
              href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" 
              href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" 
              href="{{ url_for('static', filename='favicon.ico') }}">

        <script type="text/javascript"
                src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}">
        </script>

    </head>
    <body>
        <div class="wrapper">
            <a href="/"><img id="snapcat-title" src="{{ url_for('static', filename='pics/snapcat_black.png') }}"></img></a>
            {% block body %}
            {% endblock %}
        </div>
        <div class="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </body>

    <script type="text/javascript">

        // dirty but fuck it ship it
        function displayMessage(msg, button) {
            $("#response-message").hide();
            $("#response-message").text(msg.toUpperCase());
            setTimeout(function(){
                $("#response-message").fadeIn();
                setTimeout(function(){
                    $("#response-message").fadeOut();
                    setTimeout(function(){
                        $(button).fadeIn();
                    }, 500);
                }, 2000);
            }, 500);
        };

        $("#subscribe").click(function() {
            var username = $("#username").val();
            $("#subscribe").fadeOut();
            $.ajax({
                type: "POST",
                url: "/subscribe",
                data: {"username": username},
                success: function(data) {
                    displayMessage(data['msg'], "#subscribe");
                }
            });
        });

        $("#unsubscribe").click(function() {
            var username = $("#username").val();
            $("#unsubscribe").fadeOut();
            $.ajax({
                type: "POST",
                url: "/unsubscribe",
                data: {"username": username},
                success: function(data) {
                    displayMessage(data['msg'], "#unsubscribe");
                }
            });
        });
    </script>

</html>
